@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

/* Presentation Styles - Nor related to the plugin */

body {
	font-size: 12px;
	font-family: Arial, Helevtica, Verdana, san-serif;
	color: #333;
	background: #f9f9f9;
	text-align:center;
}

#content {
	width:960px;
	margin: 0 auto;
	text-align:left;
}

#content h1{
	text-align:center;	
	font-family: 'Shadows Into Light', cursive;
	font-size:55px;
	text-shadow:1px 1px #fff;
}

#socialTimeline {
	margin: 0 auto;	
}