/**
 * @file
 * Styling for the ds-2col-stacked-fluid template.
 */

.ds-2col-stacked-fluid > .group-header {
}

.ds-2col-stacked-fluid > .group-left {
  float: left; /* LTR */
  width: 30%;
}

.ds-2col-stacked-fluid > .group-right {
  float: right; /* LTR */
  width: 70%;
}

.ds-2col-stacked-fluid.group-one-column > .group-left,
.ds-2col-stacked-fluid.group-one-column > .group-right {
  width: 100%;
  float: none;
}

.ds-2col-stacked-fluid > .group-footer {
  clear: both;
}
