#rightanswerblock {
	clear: both;
	padding: 0px 24px;
	border: 2px solid green;
	border-radius: 7px;
	margin-top: 30px;	
}

#rightanswerblock article {
	margin-top:20px;
}
#rightanswerblock article header {
	margin-bottom:10px;
}
#bestanswerflag {
	clear:both;
}

/*================================================================*/
/*Aktionen zu einem Kommentar*/
#rightanswerblock article ul {
	display: inline-block;
	width: 30%;
	margin-top: -75px;
	float: right;
	margin-right: -20px;
	clear: none;
}

#rightanswerblock article ul li {
	text-align: right;
	padding: 2.5px;
	line-height: 20px;
	width: 80%;
	border-bottom: 1px solid #eee;
	margin-left: 13px;
}

#rightanswerblock article ul li:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

#rightanswerblock article ul li:last-child {
	border-bottom: 0px;
}

#rightanswerblock article ul li a {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

#rightanswerblock article ul li a:hover {
	text-decoration: none;
	color: #e20074;
}

#rightanswerblock article ul li span {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;	
}

#rightanswerblock article ul li span:hover {
	text-decoration: none;
	color: #e20074;
}

