/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Logoutseite einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 * 
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */

 /*Thema des Beitrags*/
 body.not-front.node-type-beitrag .content-main-content #pagename,
  body.not-front.node-type-beitrag .content-main-content{
 	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: lighter;
	color: #e20074;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	line-height: 20px;
 }

 /*Abstand Thema zu Artikel*/
body.not-front.node-type-beitrag article {
	margin-top: 35px;
	margin-left: 2%;
	margin-right: 2%;
}

/*================================================================*/
/*Abstand zum Inhalt der Frage*/
body.not-front.node-type-beitrag header {
	margin-bottom: 50px;
}

/*User-Bild*/
body.not-front.node-type-beitrag header .user-picture {
	float: left;
	display: inline-block;
	margin-right: 5px;
}
body.not-front.node-type-beitrag header .user-picture img {
	height:50px;
}

/*Gespeichert von User am Datum*/
body.not-front.node-type-beitrag header span {
	color: #777;
	font-size: 13px !important;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	padding: 2px;
}

body.not-front.node-type-beitrag header span a {
	font-size: 15px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 14.6px;
	color: #444;
}

/* Wissensspeicher Flag unsichtbar machen */
.content-main-content > article > #aufgenommen {
	display:none;
}
/*================================================================*/
/*Inhalt vom Kontextdaten trennen*/
body.not-front.node-type-beitrag .workflow-current-state {
	margin-bottom: 10px !important;
	margin-top: -10px;
	color: #444;
	font-size: 14px;
	display: inline-block;
	font-weight: bold;
	margin-right: 7px;
	float: left;
	line-height: 14px;
}

body.not-front.node-type-beitrag .workflow-current-state span {
	line-height: 14px;
	font-size: 14px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
	font-style: italic;
	font-weight: normal;
}


body.not-front.node-type-beitrag .workflow-current-state span:hover {
	text-decoration: none;
	color: #e20074;
}



/*================================================================*/
/*Inhalt vom Kontextdaten trennen*/
body.not-front.node-type-beitrag .field {
	margin-left: 0px;
	width: 60%;
	float: left;
	clear: left;
}

/*ID-Anzeigen*/
body.not-front.node-type-beitrag .field-name-field-id {
	margin-left: 10px;
}

/*Inhalt der Frage*/
body.not-front.node-type-beitrag div.field-item {
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 15px;
	color: #000;
}


/*================================================================*/
/*Thema angegeben*/
body.not-front.node-type-beitrag .field-label {
	display: inline-block;
	width: 50px;
	color: #444;
	font-size: 14px;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
}


body.not-front.node-type-beitrag .field-items {
	display: inline-block;
	line-height: 49px;
	margin-bottom: 10px;
}


body.not-front.node-type-beitrag .field-items a {
	line-height: 14px;
	font-size: 14px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
	font-style: italic;
}


body.not-front.node-type-beitrag .field-items a:hover {
	color: #e20074;
	text-decoration: none;
}



/*================================================================*/
/*Button in den Wissensspeicher aufnehmen*/
body.not-front.node-type-beitrag .flag-outer-aufgenommen-in-den-wissensspeich{
	margin-top: 20px;
	width: 60%;
	float: left !important;
	clear: left !important;
}

body.not-front.node-type-beitrag .flag-outer-aufgenommen-in-den-wissensspeich a {
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	font-size: 15px;
	color: #fff;
}

body.not-front.node-type-beitrag .flag-outer-aufgenommen-in-den-wissensspeich a:hover{
	background: #e20074;
	text-decoration: none;
}


/*================================================================*/
/*Button Für Wissenspeicher nominieren & +1 ausschalten*/
body.not-front.node-type-beitrag .flag-outer-f-r-den-wissenspeicher-nominiere,
body.not-front.node-type-beitrag .flag-outer--1-f-r-beitrag {
	display: none;
}


/*================================================================*/
/*Abstände zu anderen Elementen*/
body.not-front.node-type-beitrag form {
	margin-top: 20px;
	width: 60%;
	float: left !important;
	clear: left !important;
}

body.not-front.node-type-beitrag form fieldset legend {
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 5px;
}


/*================================================================*/
/*Auswahl In den Wissenspeicher, Bereich mit Radio-Buttons*/
body.not-front.node-type-beitrag form #edit-workflow {
	color: #fff;
	margin-left: -8px;
}


body.not-front.node-type-beitrag form #edit-workflow label {
	margin-bottom: 10px !important;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	margin-right: 7px;
	line-height: 14px;
}

body.not-front.node-type-beitrag form #edit-workflow .controls label {
	line-height: 20px;
	font-size: 14px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
	font-style: italic;
	font-weight: normal;
}

body.not-front.node-type-beitrag form #edit-workflow .controls label:hover {
	color: #e20074;
	background: #eee;
	text-decoration: none;
}



/*================================================================*/
/*Zeitplanung um in den Wissenspeicher zu schieben*/
body.not-front.node-type-beitrag form #edit-workflow fieldset {
	margin-left: -10px;
}


body.not-front.node-type-beitrag form #edit-workflow fieldset legend {
	margin-bottom: 10px !important;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	margin-right: 7px;
	line-height: 14px;	
	padding-top: 10px;
}



body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item {
	display: inline-block;
	margin-left: 0;
}


body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item-workflow-scheduled-date-day .controls {
	width: 55px;	
}


body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item-workflow-scheduled-date-month .controls {
	width: 69px;
}


body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item-workflow-scheduled-date-year .controls {
	width: 73px;
}

body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item-workflow-scheduled-hour {
	margin-top: -20px;
}


body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item-workflow-scheduled-hour .controls input {
	width: 210px;
}


body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item-workflow-scheduled-timezone {
	margin-top: -7px;
}

body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item-workflow-scheduled-timezone label {
	display: inline-block;
	line-height: 30px;
}

body.not-front.node-type-beitrag form #edit-workflow fieldset .form-item-workflow-scheduled-timezone .controls {
	display: inline-block;
}




/*================================================================*/
/*Abonieren Button*/
body.not-front.node-type-beitrag form fieldset a {
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	font-size: 15px;
	color: #fff;
}

body.not-front.node-type-beitrag form fieldset a:hover {
	background: #e20074;
	text-decoration: none;
}


/*Formular-Kopf*/
body.not-front.node-type-beitrag form fieldset .subscriptions-table {
	padding: 0;
}
	

/*Formular-Optionen*/
body.not-front.node-type-beitrag form fieldset table {
	margin-bottom: 10px;
}

body.not-front.node-type-beitrag form fieldset table td label {
	font-size: 17px;
	line-height: 19px;
	margin-bottom: 0px;
	margin-right: 7px;
	color: #444;
	font-family: TeleGroteskNormal, Helvetica, Arial, sans-serif;
}

body.not-front.node-type-beitrag form fieldset table td label em {
	font-style: normal;
}


/*Formular Hilfe*/
body.not-front.node-type-beitrag .help-block {
	font-style: italic;
	color: #777;
	padding-left: 0px;
}


/*Abonieren - Änderungen Speichern Button*/
body.not-front.node-type-beitrag .content-main-content button {
	padding: 5.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	font-size: 15px;
	color: #fff;
	text-shadow: none;
}

body.not-front.node-type-beitrag .content-main-content button:hover {
	background: #e20074;
	text-decoration: none;	
}


/*================================================================*/
/*Aktionslinks zur Frage auf rechte Seite*/
body.not-front.node-type-beitrag article footer {
	display: inline-block;
	width: 30%;
	margin-top: -83px;
	float: right;
	margin-right: -20px;
	clear: none;
}


/*Aktionslinks zur Frage in Tabellenform*/
body.not-front.node-type-beitrag article footer ul {
	padding-left: 0;
	-webkit-padding-start: 0px;
	padding: 0px;
	border-bottom: none;
	margin-left: 0px;
}

body.not-front.node-type-beitrag article footer ul li {
	text-align: right;
	padding: 2.5px;
	line-height: 20px;
	width: 80%;
	border-bottom: 1px solid #eee;
	margin-left: 13px;
}

body.not-front.node-type-beitrag article footer ul li:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

body.not-front.node-type-beitrag article footer ul li:last-child {
	border: none;
}

body.not-front.node-type-beitrag article footer ul li a {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

body.not-front.node-type-beitrag article footer ul li a:hover {
	text-decoration: none;
	color: #e20074;
}

body.not-front.node-type-beitrag article footer ul li span {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;	
}

body.not-front.node-type-beitrag article footer ul li span:hover {
	text-decoration: none;
	color: #e20074;
}


/*================================================================*/
/*Kommentare genereller Rahmen*/
body.not-front.node-type-beitrag section#comments {
	clear: both;
	padding: 0px 24px;
	border: 2px solid #eee;
	border-radius: 7px;
	margin-top: 225px;
}


/*================================================================*/
/*Kommentar Überschrift*/
body.not-front.node-type-beitrag section#comments h2 {
	padding-top: 20px;
	text-align: left;
	font-size: 25px;
	font-weight: lighter;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	line-height: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 50px;
}

/*================================================================*/
/*Kommentar: Artikel von einander abgrenzen*/
body.not-front.node-type-beitrag section#comments article {
	padding-bottom: 10px;
	margin-left: 0;
	clear: both;
}


/*================================================================*/
/*Kommentar: Artikel Header*/
body.not-front.node-type-beitrag section#comments article header {
	margin-bottom: 10px;
}


/*Wer hat den Kommentar, wann gepostet*/
body.not-front.node-type-beitrag section#comments article header p.submitted {
	margin-bottom: 0px;
}

body.not-front.node-type-beitrag section#comments article header p.submitted span {
	margin-bottom: 0px;
	border-bottom: 1px solid #eee;
	display: block;
}

/*Titel des Kommentars*/
body.not-front.node-type-beitrag section#comments article header h3 {
	margin: 0;
	margin-top: 10px;
	margin-left: 10px;
	clear: both;
	padding-top: 10px;
}

/*Andere Struktur von Artikelheader*/
body.not-front.node-type-beitrag section#comments article > header > span {
	display: inline-block;
	width: 92.9%;
	word-wrap: break-word;
	border-bottom: 1px solid #eee;
	padding-bottom: 2px;
	color: #777;
	font-size: 13px !important;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	padding: 2px;
	word-break: break-word;
	font-style: italic;
}

body.not-front.node-type-beitrag section#comments article > header > span a {
	font-size: 15px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 14.6px;
	color: #444;
}


/*================================================================*/
/*Blende permant Link aus*/
body.not-front.node-type-beitrag section#comments article > header a.permalink {
	display: none;
}


/*================================================================*/
/*Kommentar: New Status anordnen*/
body.not-front.node-type-beitrag section#comments article > header > h3 {
	display: inline-block;
	width: 91.9%;
	margin-top: -23px;
}


/*================================================================*/
/*Kommentar: Inhalt*/
body.not-front.node-type-beitrag section#comments article .field p {
	margin-left: 10px;
	margin-top: 10px;
}


/*================================================================*/
/*Button +1 ausschalten*/
body.not-front.node-type-beitrag section#comments article .flag-outer {
	display: none;
}


/*================================================================*/
/*Aktionen zu einem Kommentar*/
body.not-front.node-type-beitrag section#comments article ul {
	display: inline-block;
	width: 30%;
	margin-top: 0px;
	float: right;
	margin-right: -20px;
	clear: none;
}

body.not-front.node-type-beitrag section#comments article ul li {
	text-align: right;
	padding: 2.5px;
	line-height: 20px;
	width: 80%;
	border-bottom: 1px solid #eee;
	margin-left: 13px;
}

body.not-front.node-type-beitrag section#comments article ul li:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

body.not-front.node-type-beitrag section#comments article ul li:last-child {
	border-bottom: 0px;
}

body.not-front.node-type-beitrag section#comments article ul li a {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

body.not-front.node-type-beitrag section#comments article ul li a:hover {
	text-decoration: none;
	color: #e20074;
}

body.not-front.node-type-beitrag section#comments article ul li span {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;	
}

body.not-front.node-type-beitrag section#comments article ul li span:hover {
	text-decoration: none;
	color: #e20074;
}

/*================================================================*/
/*Neuen Kommentar hinzufügen Formular abgrenzen*/
body.not-front.node-type-beitrag section#comments section {
	display: block;
	float: none;
	clear: both;
	border: 0px;
	background: transparent;
	box-shadow: none;
	padding: 0;
	padding-top: 20px;
}

/*Neues Kommentar hinzufügen Formular stukturieren*/
body.not-front.node-type-beitrag section#comments section form {
	clear: both !important;
	width: 100%;
	float: none !important;
}



/*================================================================*/
/*Überschrift Formular für neue Kommentare*/
body.not-front.node-type-beitrag section#comments section h2 {
	border-top: 1px solid #eee;
	padding-top: 35px;
	text-align: left;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 30px;
}


/*================================================================*/
/*Name des Verfassers*/
body.not-front.node-type-beitrag section#comments section form .control-group {
	margin-left: 0px;
	padding-left: 10px;
	color: #444;
	margin-bottom: 20px;
}

body.not-front.node-type-beitrag section#comments section form label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
}

body.not-front.node-type-beitrag section#comments section form .controls {
	display: inline-block;
	font-style: italic;
	line-height: 24px;
}


/*Benachrichtigungen senden und Hinweis dazu*/
body.not-front.node-type-beitrag section#comments section form #edit-subscriptions-notify label {
	font-size: 15px;
	line-height: 22px;
	font-weight: normal;
}

body.not-front.node-type-beitrag section#comments section form #edit-subscriptions-notify .help-block {
	margin-top: -20px;
}



/*================================================================*/
/*Kommentarfeld anpassen*/
body.not-front.node-type-beitrag section#comments section form #edit-comment-body label {
	display: inline-block;
	margin-bottom: 15px;
}

body.not-front.node-type-beitrag section#comments section form #edit-comment-body .controls {
	width: 99%;
	margin-right: 10px;
	display: block;
}


/*Button zum Umschalten des Editors*/
body.not-front.node-type-beitrag section#comments section form .ckeditor_links {
	padding: 8.8px 15px;
	background: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	vertical-align: baseline;
	color: #fff;
	margin-left: 10px;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	margin-bottom: 32px;
}

body.not-front.node-type-beitrag section#comments section form .ckeditor_links:hover {
	background: #e20074;
	text-decoration: none;
}

/*Weitere Informationen über Textformate erhalten*/
body.not-front.node-type-beitrag section#comments section form #edit-comment-body .filter-help {
	margin-bottom: 25px;
	margin-top: 30px;
	padding-left: 10px;
}

body.not-front.node-type-beitrag section#comments section form #edit-comment-body .filter-help p:hover {
	background: #eee;
}

body.not-front.node-type-beitrag section#comments section form #edit-comment-body .filter-help p a {
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	font-style: italic;
	line-height: 24px;
	border: 0;
	background: none;
	color: #444;
	padding: 0;
}

body.not-front.node-type-beitrag section#comments section form #edit-comment-body .filter-help p a:hover {
	text-decoration: none;
	color: #e20074;
}


/*================================================================*/
/*Dropdown-Menü für Textformate*/
body.not-front.node-type-beitrag section#comments section form .form-type-select {
	margin-bottom: 15px;
}

body.not-front.node-type-beitrag section#comments section form .form-type-select label {
	display: inline-block !important;
	margin-bottom: 0px !important;
	line-height: 31px;
}

body.not-front.node-type-beitrag section#comments section form .form-type-select .controls {
	display: inline-block !important;
	width: auto !important;
}


/*================================================================*/
/*Hinweise zu Filter-Richtlinien*/
body.not-front.node-type-beitrag section#comments section form .filter-guidelines ul {
	font-family: TeleGroteskNormal;
	line-height: 19px;
	font-size: 17px;
	margin-left: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-left: 12px;
}

body.not-front.node-type-beitrag section#comments section form .filter-guidelines ul li {
	margin-bottom: 5px;
	font-weight: normal;
	color: #444;
}


/*================================================================*/
/*Button zu Kommentar speichern*/
body.not-front.node-type-beitrag section#comments section form button#edit-submit {
	margin-left: 12px;
	margin-top: 20px;
}

#promoted {
	background: green;
}

