/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Logoutseite einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */


/*================================================================*/
/*Name der Blogübersicht*/
body.not-front.page-blog .content-main-content #pagename{
 	font-size: 35px;
	color: #000;
	line-height: 35px;
	margin: 0 0 25px;
	margin-left: 1%;
	padding: 0;
	text-transform: uppercase;
	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
 }




/*Rahmen für Auflistung anlegen*/
body.not-front.page-blog .content-main-content .view {
	border: 2px solid #eee;
	border-radius: 10px;
	padding: 2%;
	padding-top: 0px;
	margin-top: 20px;
}


body.not-front.page-blog .content-main-content .view .views-row {
	border-bottom: 1px solid #ccc;
	position: relative;
	padding: 20px 10px;
}


body.not-front.page-blog .content-main-content .view .views-row:last-child {
	border-bottom: 0px;
	margin-top: 10px;
}


/*================================================================*/
/*Titel des Blogbeitrags*/
body.not-front.page-blog .content-main-content .views-field-title > span > a {
	float: left;
	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: normal;
	color: #e20074;
}



/*================================================================*/
/*Inhalt des Blogbeitrags*/
body.not-front.page-blog .content-main-content .views-field-body {
	clear: both;
	display: block;
	margin-top: 45px;
}


body.not-front.page-blog .content-main-content .views-field-body > div {
	margin-top: 30px;
	clear: both;
}


body.not-front.page-blog .content-main-content .views-field-body > div > p {
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 20px;
	text-transform: none;
}



/*================================================================*/
/*Wer hat den Blogbeitrag gepostet und welche Art wurde gepostet*/
body.not-front.page-blog .content-main-content .views-field-name,
body.not-front.page-blog .content-main-content .views-field-type {
	display: inline-block;
} 


body.not-front.page-blog .content-main-content .views-field-name span,
body.not-front.page-blog .content-main-content .views-field-type span {
	word-wrap: break-word;
	font-size: 14px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	color: #777;
}



body.not-front.page-blog .content-main-content .views-field-name span a,
body.not-front.page-blog .content-main-content .views-field-type span a {
	font-size: 15px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	color: #444;
}