/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Logoutseite einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */


/*================================================================*/
/*Name der Blogübersicht*/
body.not-front.page-create-content .content-main-content #pagename {
 	font-size: 35px;
	color: #000;
	line-height: 35px;
	margin: 0 0 25px;
	margin-left: 1%;
	padding: 0;
	text-transform: uppercase;
	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
}



/*Rahmen für das Erstellformular*/
body.not-front.page-create-content .content-main-content form {
 	border: 2px solid #eee;
	border-radius: 10px;
	padding: 2%;
	padding-top: 20px;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
}


/*================================================================*/
/*Titel und Posttyp auswählen*/
body.not-front.page-create-content .content-main-content  form .control-group label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 23px;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	color: #444;
	margin-top: 20px;
}


body.not-front.page-create-content .content-main-content  form .control-group .controls {
	display: inline-block;
	font-style: italic;
	line-height: 24px;
	margin-top: 20px;
}


body.not-front.page-create-content .content-main-content  form .form-type-select label {
	line-height: 29px;
}


body.not-front.page-create-content .content-main-content  form .form-item-thema .controls {
	margin-left: 23px;
}



body.not-front.page-create-content .content-main-content  form .form-item-titel .controls {
	margin-left: 29px;
}


body.not-front.page-create-content .content-main-content  form .form-item-titel .controls input {
	width: 220px;
}


/*================================================================*/
/*Inhalt des neuen Posts schreiben*/
body.not-front.page-create-content .content-main-content  form .form-type-textarea {
	margin-bottom: 25px;
}


body.not-front.page-create-content .content-main-content  form .form-type-textarea label,
body.not-front.page-create-content .content-main-content  form .form-type-textarea .controls {
	display: block;
}



/*================================================================*/
/*Bestätigen Button*/
body.not-front.page-create-content .content-main-content  form button {
	margin-left: 10px;
	padding: 5.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	font-size: 15px;
	color: #fff;
	text-shadow: none;
}


body.not-front.page-create-content .content-main-content  form button:hover {
	background: #e20074;
	text-decoration: none;
}