/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Logoutseite einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */

 /*
#######################################################################
#######################################################################
 * Wichtg: Alle Angaben in dieser Datei beginnen immer mit "body.not-front.node-type-forum" !!! 
 * Bei Unterseiten auch aus body einen unique class-name raussuchen für den type
 * body.not-front.page-forum .wrapper .main-page {Anweisungen}
 */

 /* 
  * INFO: Advanced Forum- Standarddesign: Naked verwenden!!! ;
  */

 /*
#######################################################################
#######################################################################
 * Forum-Topic
 */

/*Überschrift des Forums*/
body.not-front.node-type-forum .content-main-content {
	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: lighter;
	color: #e20074;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	line-height: 20px;
}

/*Hintergrund der Links*/
body.not-front.node-type-forum .content-main-content .forum-topic-header {
	background: #eee;
	padding: 15px;
	margin-bottom: 38px;
	margin-top: 20px;
}

/*Anzahl Posts und Neue Kommentare*/
body.not-front.node-type-forum .content-main-content .topic-post-count {
	color: #000;
	font-family: TeleGroteskNormal, Arial, sans;
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
}


/*Schnell Antwort - Button*/
body.not-front.node-type-forum .content-main-content .topic-reply-link {
	margin-bottom: 3px;
	float: left;
	margin-left: 0;
}

body.not-front.node-type-forum .content-main-content .topic-reply-link .topic-reply-allowed {
	padding: 5.5px 25px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
}

body.not-front.node-type-forum .content-main-content .topic-reply-link .topic-reply-allowed:hover {
	background: #e20074;
}

body.not-front.node-type-forum .content-main-content .topic-reply-link .topic-reply-allowed span {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

/*Last Post - Button: Springt zum letzten Kommentar des Artikels, sinnvoll vor allem bei sehr ausgedehnten Topics*/
body.not-front.node-type-forum .content-main-content .last-post-link {
	margin-bottom: 3px;
	float: left;
	margin-left: 10px;
	margin-top: 6.4px;
}

body.not-front.node-type-forum .content-main-content .last-post-link > a {
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
}

body.not-front.node-type-forum .content-main-content .last-post-link > a:hover {
	background: #e20074;
} 

body.not-front.node-type-forum .content-main-content .last-post-link > a span {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

/*First unread Button*/
body.not-front.node-type-forum .content-main-content .topic-new-post-link {
	margin-bottom: 3px;
	float: left;
	margin-left: 10px;
	margin-top: 6.4px;
}

body.not-front.node-type-forum .content-main-content .topic-new-post-link > a {
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
}

body.not-front.node-type-forum .content-main-content .topic-new-post-link > a:hover {
	background: #e20074;
}

body.not-front.node-type-forum .content-main-content .topic-new-post-link > a span {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}



/*
######################################################################################
*/

/*Kontextdaten zum Artikel*/
body.not-front.node-type-forum .forum-post-info {
	font-style: italic;
	font-weight: normal;
	color: #777;
	word-wrap: break-word;
	font-size: 13px !important;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	padding: 2px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

body.not-front.node-type-forum .forum-post-info .forum-posted-on {
	font-size: 13px;
}

body.not-front.node-type-forum .forum-post-info .forum-post-number a {
	font-style: italic;
	font-weight: normal;
	color: #777;
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
}

body.not-front.node-type-forum .forum-post-wrapper {
	clear: both;
	display: inline-block;
	width: 75%;
	float: left;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-sub {
	width: 100%;
	margin-bottom: 5px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-sub .author-pane {
	display: inline-block;
	width: 100%;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-sub .author-pane a {
	font-size: 16px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 18.6px;
	color: #444;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-sub .author-pane .user-picture {
	float: left;
	display: inline-block;
	margin-right: 5px;
}

/*Kontextdaten trennen von Inhalt*/
body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main {
	clear: both;
	margin-left: 0px;
}

/*Artikel stylen*/
body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-title {
	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: normal;
	color: #e20074;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content {
	margin-top: 15px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > div {
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 15px;
	color: #000;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > div div.field-item p {
	line-height: 26px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form {
	margin: 0px;
	margin-top: 15px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form legend {
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 5px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form legend a {
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form fieldset table td {
	padding-left: 0px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form legend a:hover {
	background: #e20074;
	text-decoration: none;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form fieldset table td label {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 0px;
	margin-right: 7px;
	color: #444;
	font-style: normal;
	font-family: TeleGroteskNormal, Helvetica, Arial, sans-serif;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form fieldset table td label em {
	font-style: normal;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form fieldset div#edit-footer {
	margin-left: 0px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form fieldset div#edit-footer p.help-block {
	font-style: italic;
	color: #777;
	padding-left: 0px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form fieldset#subscribe button.form-submit {
	padding: 8.8px 32px;
	background: #777 !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form fieldset#subscribe button.form-submit:hover {
	text-decoration: none;
	background: #e20074 !important;
}


/* post-edited*/
body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .post-edited {
	font-style: italic;
	font-weight: normal;
	color: #777;
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .post-edited a {
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	color: #444;
}

/*Footer eines Artikels*/
body.not-front.node-type-forum .forum-post-footer {
	display: inline-block;
	width: 23%;
	margin-top: 10px;
	float: right;
	margin-right: -20px;
	clear: none;
}

/*Sprungmarke, um an bestimmte Stellen zu navigieren*/
body.not-front.node-type-forum .forum-post-footer .forum-jump-links {
	text-align: right;
	width: 80%;
	margin-left: 13px;
	display: inline-block;
	margin-top: 9px;
	margin-bottom: 0px;
}

body.not-front.node-type-forum .forum-post-footer .forum-jump-links a {
	font-weight: normal;
	font-family: TeleGroteskHeadlineUltra, Arial, sans-serif;
	font-size: 17px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

body.not-front.node-type-forum .forum-post-footer .forum-jump-links a:hover {
	color: #e20074;
	text-decoration: none;
}

/*Forum Post Links zum bearbeiten, löschen und liken von Artikeln*/
body.not-front.node-type-forum .forum-post-footer .forum-post-links ul {
	padding-left: 0;
	-webkit-padding-start: 0px;
	padding: 0px;
	border-bottom: none;
	margin-left: 0px;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li {
	text-align: right;
	padding: 2.5px;
	line-height: 20px;
	width: 80%;
	border-bottom: 1px solid #eee;
	margin-left: 13px;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

/*Ausblenden, da leer*/
body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li.socialmedia_profile-default, body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li.socialmedia_share-default {
	border: 0px;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li:last-child {
	border: none;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li a {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li a:hover {
	text-decoration: none;
	color: #e20074;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li span {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li span:hover {
	text-decoration: none;
	color: #e20074;
}

/*Forum Kommentare*/ 
body.not-front.node-type-forum .comment-wrapper {
	padding: 20px 24px;
	border: 2px solid #eee;
	border-radius: 7px;
	margin-top: 30px;
}

body.not-front.node-type-forum .comment-wrapper .forum-post {
	margin-bottom: 40px;
}

body.not-front.node-type-forum .comment-wrapper > div:last-child {
	padding-bottom: 17px;
	border-bottom: 1px solid #eee;
}


/*Neue Kommentare hinzufügen*/
body.not-front.node-type-forum .comment-wrapper h2 {
	border-top: 1px solid #eee;
	padding-top: 20px;
	text-align: left;
	font-size: 20px;
	font-weight: lighter;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 30px;
}

body.not-front.node-type-forum .comment-wrapper form .control-group {
	margin-left: 0px;
	padding-left: 10px;
	color: #444;
	margin-bottom: 20px;
}


/*Name des Kommentators*/
body.not-front.node-type-forum .comment-wrapper form .control-group label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
}

body.not-front.node-type-forum .comment-wrapper form .control-group div.controls {
	display: inline-block;
	font-style: italic;
	line-height: 24px;
}


/*Send Subscriptions Hinweis*/
body.not-front.node-type-forum .comment-wrapper form #edit-subscriptions-notify {
	padding-left: 11px;
}

body.not-front.node-type-forum .comment-wrapper form #edit-subscriptions-notify label {
	font-size: 15px;
	line-height: 22px;
	font-weight: normal;
}

body.not-front.node-type-forum .comment-wrapper form #edit-subscriptions-notify p.help-block {
	font-style: italic;
	margin-top: -20px;
	color: #777;
	padding-left: 0px;
}


/*Kommentarfeld anpassen, Subject (keine Anpassung)*/
body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body label {
	display: block;
	margin-bottom: 15px;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body div.controls {
	width: 99%;
	margin-right: 10px;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body .control-group {
	margin-bottom: 30px;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body a.ckeditor_links {
	padding: 11.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	margin-left: 10px;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body a.ckeditor_links:hover {
	text-decoration: none;
	background: #e20074;
}


/*zusätzlich Informationen und Funktionen*/
body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper {
	clear: both;
	margin-top: 26px;
	padding-left: 10px;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper .filter-help {
	margin-bottom: 25px;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper .filter-help p:hover {
	background: #eee;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper .filter-help p a{
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	font-style: italic;
	line-height: 24px;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper .form-type-select {
	padding-left: 0px;
	margin-bottom: 15px;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper .form-type-select label {
	display: inline-block;
	margin-bottom: 0px;
	line-height: 31px;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper .form-type-select .controls {
	display: inline-block;
	width: auto;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper .filter-guidelines ul {
	font-family: TeleGroteskNormal;
	line-height: 19px;
	font-size: 17px;
	margin-left: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-left: 0;
}

body.not-front.node-type-forum .comment-wrapper form .field-name-comment-body fieldset.filter-wrapper .filter-guidelines ul li {
	margin-bottom: 10px;
	/*text-transform: uppercase;*/
	font-weight: normal;
	color: #444;
}

body.not-front.node-type-forum .comment-wrapper form button {
	margin-top: 20px;
	margin-left: 10px;
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	margin-left: 10px;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

body.not-front.node-type-forum .comment-wrapper form button:hover {
	background: #e20074;
 	color: #fff;
}



 /*
#######################################################################
#######################################################################
 * Reply on Forum-Topic -Page
 */

/*Überschrift der Seite*/
body.not-front.page-comment-reply .content-main-content {
 	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: lighter;
	color: #e20074;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	line-height: 20px;
 }


/*Kontextdaten zu Forenbeitrag, der kommentiert werden soll*/
body.not-front.page-comment-reply .content-main-content .forum-post-info {
	font-style: italic;
	font-weight: normal;
	color: #777;
	word-wrap: break-word;
	font-size: 13px !important;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	padding: 2px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-top: 40px;
}

body.not-front.page-comment-reply .content-main-content .forum-post-info .forum-posted-on {
	font-size: 13px !important;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper {
	clear: both;
	display: inline-block;
	width: 100%;
	float: left;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-sub {
	width: 100%;
	margin-bottom: 5px;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-sub .author-pane {
	display: inline-block;
	width: 100%;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-sub .author-pane a {
	font-size: 16px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 18.6px;
	color: #444;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-sub .author-pane .user-picture {
	float: left;
	display: inline-block;
	margin-right: 5px;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-sub .author-pane .user-picture a {
	font-size: 16px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 18.6px;
	color: #444;
}


/*Hauptinhalt, des Artikels der kommentiert werden soll*/
body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-main {
	clear: both;
	margin-left: 0px;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-main .post-title {
	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: normal;
	color: #e20074;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-main .forum-post-content {
	margin-top: 15px;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-main .forum-post-content > div {
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 15px;
	color: #000;
}

body.not-front.page-comment-reply .content-main-content .forum-post-wrapper .forum-post-panel-main .forum-post-content > div div.field-item p {
	line-height: 26px;
}

/*
 *#####################################################################################################
 *Antwortformular
*/

/*Kontextdaten*/
body.not-front.page-comment-reply .content-main-content > form {
	padding: 40px 24px;
	border: 2px solid #eee;
	border-radius: 7px;
}

body.not-front.page-comment-reply .content-main-content > form .control-group {
	margin-left: 0px;
	color: #444;
	margin-bottom: 20px;
}

body.not-front.page-comment-reply .content-main-content > form .control-group label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
}

body.not-front.page-comment-reply .content-main-content > form .control-group div.controls {
	display: inline-block;
	font-style: italic;
	line-height: 24px;
}


/*Kommentareingabefeld*/
body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body .control-group {
	margin-bottom: 30px;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body label {
	display: block;
	margin-bottom: 15px;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body div.controls {
	width: 99%;
}

/*Editorwechsel Button*/
body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body a.ckeditor_links {
	padding: 11.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body a.ckeditor_links:hover {
	background: #e20074;
	text-decoration: none;
}

/*Weitere Infos*/
body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper{
	clear: both;
	margin-top: 26px;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper .filter-help {
	margin-bottom: 25px;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper .filter-help p:hover {
	background: #eee;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper .filter-help a {
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	font-style: italic;
	line-height: 24px;
}

/*Textformat auswählen*/
body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper .form-type-select {
	padding-left: 0px;
	margin-bottom: 15px;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper .form-type-select label {
	display: inline-block;
	margin-bottom: 0px;
	line-height: 31px;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper .form-type-select .controls {
	display: inline-block;
	width: auto;
}


/*Hinweistext*/ 
body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper .filter-guidelines ul {
	font-family: TeleGroteskNormal;
	line-height: 19px;
	font-size: 17px;
	margin-left: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-left: 0;
}

body.not-front.page-comment-reply .content-main-content > form .field-name-comment-body fieldset.filter-wrapper .filter-guidelines ul li {
	margin-bottom: 10px;
	font-weight: normal;
	color: #444;
}

/*Buttons*/
body.not-front.page-comment-reply .content-main-content > form button {
	margin-top: 20px;
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

body.not-front.page-comment-reply .content-main-content > form button:hover {
	text-decoration: none;
	background: #e20074;
}

/*
#######################################################################
#######################################################################
 * Edit on Forum-Topic -Page (Normale Nutzer)
 */


/*Überschrift der Seite*/
body.not-front.page-node-edit .content-main-content {
	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: lighter;
	color: #e20074;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	line-height: 20px;
}

body.not-front.page-node-edit .content-main-content em {
	font-style: normal;
}

body.not-front.page-node-edit .content-main-content form .field-type-image {
	margin-top: 30px;
	margin-left: 0px;
	color: #444;
	margin-bottom: 20px;
}


/*Bild hochladen zu dem Artikel*/
body.not-front.page-node-edit .content-main-content form .field-type-image .control-group {
	margin-left: 0px;
}

body.not-front.page-node-edit .content-main-content form .field-type-image .control-group label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 30px;
}

body.not-front.page-node-edit .content-main-content form .field-type-image .control-group .controls {
	display: inline-block;
	font-style: italic;
	line-height: 24px;
	max-width: 100%;
	min-width: 51%;
}

body.not-front.page-node-edit .content-main-content form .field-type-image .control-group .controls .image-widget-data {
	width: 100%;
}

body.not-front.page-node-edit .content-main-content form .field-type-image .control-group .controls input {
	line-height: 25px;
	font-family: TeleGroteskUltra;
	font-size: 15px;
	font-weight: lighter;
	display: inline-block;
}

body.not-front.page-node-edit .content-main-content form .field-type-image .control-group .controls button {
	display: inline-block;
	padding: 7px 37px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	margin-left: 10px;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

body.not-front.page-node-edit .content-main-content form .field-type-image .control-group .controls button:hover {
	background: #e20074;
}


/*Hilfetext zu Bild hochladen*/
body.not-front.page-node-edit .content-main-content form .field-type-image .control-group .controls .help-block {
	font-size: 13px;
	font-weight: normal;
	display: inline-block;
	font-style: italic;
	line-height: 24px;
	margin-top: 1px;
	font-family: TelegroteskNormal;
	text-decoration: none;
	color: #444;
}

body.not-front.page-node-edit .content-main-content form .field-type-image .control-group .controls .help-block strong {
	font-weight: normal;
}


/*Fehlertext zu Bild*/ 
body.not-front.page-node-edit .content-main-content form .field-type-image .control-group .controls .messages.error{
	margin: 5px 0;
	margin-bottom: 20px;
	font-weight: normal;
	color: #444;
	background: #fff;
	font-family: TeleGroteskNormal;
	font-size: 18px;
	font-style: normal;
}


/*Checkbox*/
body.not-front.page-node-edit .content-main-content form .form-type-checkbox {
	display: block;
	font-family: TeleGroteskUltra, Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: lighter;
}

body.not-front.page-node-edit .content-main-content form .form-type-checkbox label {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 0px;
	margin-right: 7px;
	color: #444;
	font-style: normal;
	font-family: TeleGroteskNormal, Helvetica, Arial, sans-serif;
}

body.not-front.page-node-edit .content-main-content form .form-type-checkbox p.help-block {
	margin-top: -15px;
	font-style: italic;
	color: #777;
	padding-left: 0px;
	text-align: left;
	font-weight: lighter;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	font-size: 12px;
	font-weight: lighter;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	font-size: 12px;
}


/*Formular-Kopf*/
body.not-front.page-node-edit .content-main-content form .control-group {
	margin-left: 0px;
	color: #444;
	margin-bottom: 20px;
}

body.not-front.page-node-edit .content-main-content form .form-item-title {
	margin-top: 30px;
}

body.not-front.page-node-edit .content-main-content form .control-group label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
}

body.not-front.page-node-edit .content-main-content form .control-group div.controls {
	display: inline-block;
	font-style: italic;
	line-height: 36px;
}


/*Content des Beitrags*/
body.not-front.page-node-edit .content-main-content form  .field-name-body .control-group {
	margin-bottom: 30px;
}

body.not-front.page-node-edit .content-main-content form  .field-name-body .control-group label {
	display: block;
	margin-bottom: 15px;
}

body.not-front.page-node-edit .content-main-content form  .field-name-body .control-group div.controls {
	width: 99%;
	margin-right: 10px;
}

/*Editorwechsel-Button*/
body.not-front.page-node-edit .content-main-content form  .field-name-body a.ckeditor_links {
	padding: 11.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

/*Zusatsinformationen*/
body.not-front.page-node-edit .content-main-content form .field-name-body fieldset {
	clear: both;
	margin-top: 26px;
}

body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .filter-help {
	margin-bottom: 25px;
}

body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .filter-help p:hover {
	background: #eee;
}

body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .filter-help p a {
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	font-style: italic;
	line-height: 24px;
}

/*Dropdown Auwahlt Textformate*/
body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .form-type-select {
	padding-left: 0px;
	margin-bottom: 15px;
}

body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .form-type-select label {
	display: inline-block;
	margin-bottom: 0px;
	line-height: 31px;
}

body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .form-type-select .controls {
	display: inline-block;
	width: auto;
}

/*Help-Texte zur Nutzung*/
body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .filter-guidelines {
	margin-bottom: 30px;
}

body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .filter-guidelines ul {
	font-family: TeleGroteskNormal;
	line-height: 19px;
	font-size: 17px;
	margin-left: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-left: 0;
}

body.not-front.page-node-edit .content-main-content form .field-name-body fieldset .filter-guidelines ul li {
	margin-bottom: 10px;
	/* text-transform: uppercase; */
	font-weight: normal;
	color: #444;
}

body.not-front.page-node-edit .content-main-content form .field-name-field-knowledge-base-article label {
	line-height: 30px;
}

body.not-front.page-node-edit .content-main-content form .field-name-field-knowledge-base-article div.controls input {
	background-position: 98% 5px;
}

/*Bestätigungsbuttons*/
body.not-front.page-node-edit .content-main-content form .form-actions {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	margin-top: 35px;
}

body.not-front.page-node-edit .content-main-content form .form-actions button {
	margin-top: 20px;
	margin-left: 10px;
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	margin-left: 10px;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

body.not-front.page-node-edit .content-main-content form .form-actions button:hover {
	background: #e20074;
	color: #fff;
}

body.not-front.page-node-edit .content-main-content form .form-actions button.btn-primary {
	margin-left: 0;
}

/*
#######################################################################
#######################################################################
 * Edit on Kommentare (Normale Nutzer)
 */

body.not-front.page-comment-edit .content-main-content {
 	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: lighter;
	color: #e20074;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	line-height: 20px;
 }

body.not-front.page-comment-edit .content-main-content em {
	font-style: normal;
}

/*Formular-Kopf*/
body.not-front.page-comment-edit .content-main-content form .control-group {
	margin-left: 0px;
	color: #444;
	margin-bottom: 20px;
}

body.not-front.page-comment-edit .content-main-content form .form-item-title {
	margin-top: 30px;
}

body.not-front.page-comment-edit .content-main-content form .control-group label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
}

body.not-front.page-comment-edit .content-main-content form .control-group div.controls {
	display: inline-block;
	font-style: italic;
	line-height: 36px;
}


/*Content des Beitrags*/
body.not-front.page-comment-edit .content-main-content form  .field-name-body .control-group {
	margin-bottom: 30px;
}

body.not-front.page-comment-edit .content-main-content form  .field-name-body .control-group label {
	display: block;
	margin-bottom: 15px;
}

body.not-front.page-comment-edit .content-main-content form  .field-name-body .control-group div.controls {
	width: 99%;
	margin-right: 10px;
}

/*Editorwechsel-Button*/
body.not-front.page-comment-edit .content-main-content form  .field-name-body a.ckeditor_links {
	padding: 11.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

/*Zusatsinformationen*/
body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset {
	clear: both;
	margin-top: 26px;
}

body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .filter-help {
	margin-bottom: 25px;
}

body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .filter-help p:hover {
	background: #eee;
}

body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .filter-help p a {
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	font-style: italic;
	line-height: 24px;
}

/*Dropdown Auwahlt Textformate*/
body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .form-type-select {
	padding-left: 0px;
	margin-bottom: 15px;
}

body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .form-type-select label {
	display: inline-block;
	margin-bottom: 0px;
	line-height: 31px;
}

body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .form-type-select .controls {
	display: inline-block;
	width: auto;
}

/*Help-Texte zur Nutzung*/
body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .filter-guidelines {
	margin-bottom: 30px;
}

body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .filter-guidelines ul {
	font-family: TeleGroteskNormal;
	line-height: 19px;
	font-size: 17px;
	margin-left: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-left: 0;
}

body.not-front.page-comment-edit .content-main-content form .field-name-body fieldset .filter-guidelines ul li {
	margin-bottom: 10px;
	/* text-transform: uppercase; */
	font-weight: normal;
	color: #444;
}

body.not-front.page-comment-edit .content-main-content form .field-name-field-knowledge-base-article label {
	line-height: 30px;
}

body.not-front.page-comment-edit .content-main-content form .field-name-field-knowledge-base-article div.controls input {
	background-position: 98% 5px;
}

/*Bestätigungsbuttons*/
body.not-front.page-comment-edit .content-main-content form  {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	margin-top: 35px;
}

body.not-front.page-comment-edit .content-main-content form  button {
	margin-top: 20px;
	margin-left: 10px;
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
	margin-left: 10px;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
}

body.not-front.page-comment-edit .content-main-content form button:hover {
	background: #e20074;
	color: #fff;
}

body.not-front.page-comment-edit .content-main-content form .form-actions button.btn-primary {
	margin-left: 0;
}