/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Logoutseite einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */


 body.not-front.node-type-group .content-main-content .contextual-links-region {
 	margin: 40px 15px;
 }


/*================================================================*/
/*Admin der Gruppe*/
body.not-front.node-type-group .content-main-content .pane-node-author h2 {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
	font-size: 14px;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	margin-top: 0px;
}

body.not-front.node-type-group .content-main-content .pane-node-author .pane-content {
	display: inline-block;
	font-style: italic;
	line-height: 14px;
}


/*================================================================*/
/*Mitglieder der Gruppe*/
body.not-front.node-type-group .content-main-content .pane-og-members {
	margin-top: 20px;
}


body.not-front.node-type-group .content-main-content .pane-og-members h2 {
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
	font-size: 14px;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	margin-top: 0px;
}


body.not-front.node-type-group .content-main-content .pane-og-members .view {
	border: 0px;
}


body.not-front.node-type-group .content-main-content .pane-og-members .view .views-row {
	padding: 2.5px;
	line-height: 20px;
	width: 50%;
	border-bottom: 1px solid #eee;
	margin-top: 0px;
}

body.not-front.node-type-group .content-main-content .pane-og-members .view .views-row:hover {
	background: #eee;
	text-decoration: none;
}


/*================================================================*/
/*Beschreibung der Gruppe*/
body.not-front.node-type-group .content-main-content .pane-node-body {
	margin-top: 20px;
}


body.not-front.node-type-group .content-main-content .pane-node-body h2 {
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
	font-size: 14px;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	margin-top: 0px;
}


body.not-front.node-type-group .content-main-content .pane-node-body .pane-content {
	margin-top: 10px;
}


body.not-front.node-type-group .content-main-content .pane-node-body .pane-content p {
	float: left;
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 20px;
	text-transform: none;
}



/*================================================================*/
/*Beitrag erstellen*/
body.not-front.node-type-group .content-main-content .pane-block {
	margin: 0px;
}


body.not-front.node-type-group .content-main-content .pane-block h2 {
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 17px;
	line-height: 42px;
	font-size: 14px;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	margin-top: 0px;
	display: inline-block;
}


body.not-front.node-type-group .content-main-content .pane-block .pane-content {
	display: inline-block;
	margin-top: 10px;
}


body.not-front.node-type-group .content-main-content .pane-block .pane-content a {
	padding: 7.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	font-size: 15px;
	color: #fff;
	text-shadow: none;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


body.not-front.node-type-group .content-main-content .pane-block .pane-content a:hover {
	background: #e20074;
	text-decoration: none;
}


/*================================================================*/
/*Beitragsliste*/
body.not-front.node-type-group .content-main-content .pane-og-nodes h2 {
	font-size: 25px;
	color: #000;
	line-height: 24px;
	margin: 35px 0 10px;
	padding: 0;
	text-transform: uppercase;
	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
	font-weight: lighter;
}


body.not-front.node-type-group .content-main-content .pane-og-nodes .pane-content article {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 0px;
}


/*Falls keine Beiträge existieren*/
body.not-front.node-type-group .content-main-content .pane-og-nodes .pane-content .view-empty p {
	word-wrap: break-word;
	font-size: 16px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 22.6px;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	color: #777;
	margin-top: 15px;
}