/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Logoutseite einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */

/*================================================================*/
/*Genereller Rahmen für Aufbau der Gruppenübersicht*/
body.not-front.page-groups .content-main-content .view {
	margin-left: 12px;
	margin-right: 12px;
	padding-left: 0;
	padding-right: 0; 
}

body.not-front.page-groups .content-main-content .view .view-content {
	position: relative;
	padding: 0px 10px;
}


body.not-front.page-groups .content-main-content ul {
	margin-left: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
}


body.not-front.page-groups .content-main-content ul li {
	border-bottom: 1px solid #ccc;
	position: relative;
	padding: 20px 10px;
}


body.not-front.page-groups .content-main-content ul li:last-child {
	border-bottom: 0px;
}


/*================================================================*/
/*Gruppenname*/
body.not-front.page-groups .content-main-content ul li .views-field-title a {
	text-align: left;
	font-size: 20px;
	font-weight: normal;
	color: #e20074;
}



/*================================================================*/
/*Gruppenbeschreibung*/
body.not-front.page-groups .content-main-content ul li .views-field.views-field-body {
	margin-top: 20px;
}

body.not-front.page-groups .content-main-content ul li .views-field span.views-label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
	font-size: 13.5px;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	color: #000;
}


/*Text von Label trennen*/
body.not-front.page-groups .content-main-content ul li .views-field {
	margin-top: 10px;
	clear: both;
}


body.not-front.page-groups .content-main-content ul li .views-field .field-content p{
	float: left;
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 20px;
	text-transform: none;
}



/*================================================================*/
/*Admin der Gruppe*/
body.not-front.page-groups .content-main-content ul li .views-field-name span.views-label {
	word-wrap: break-word;
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 21.6px;
	text-transform: none;
}


body.not-front.page-groups .content-main-content ul li .views-field-name .field-content a {
	font-size: 15px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	color: #444;
}


/*================================================================*/
/*Erstellzeitpunkt der Gruppe*/
body.not-front.page-groups .content-main-content ul li .views-field-created {
	margin-top: 0;
}


body.not-front.page-groups .content-main-content ul li .views-field-created span.views-label {
	word-wrap: break-word;
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 21.6px;
	text-transform: none;
}


body.not-front.page-groups .content-main-content ul li .views-field-created .field-content {
	word-wrap: break-word;
	font-size: 14px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 22px;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	color: #777;
}


body.not-front.page-groups .content-main-content ul li .views-field-created .field-content em {
	word-wrap: break-word;
	font-size: 14px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 22.6px;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	color: #777;
}



/*================================================================*/
/*Gruppenadminbeschreibung oder die Gruppe abonnieren*/
body.not-front.page-groups .content-main-content ul li .views-field-group-group {
	margin-top: 20px;
}


body.not-front.page-groups .content-main-content ul li .views-field-group-group a {
	padding: 7.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	font-size: 15px;
	color: #fff;
	text-shadow: none;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-style: normal;
}


body.not-front.page-groups .content-main-content ul li .views-field-group-group a:hover {
	background: #e20074;
	text-decoration: none;
}


/*Falls man selbst der Gruppenadministrator ist.*/
body.not-front.page-groups .content-main-content ul li .views-field-group-group .field-content {
	word-wrap: break-word;
	font-size: 16px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 22.6px;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	color: #777;
}