/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Sidbar aller Seiten einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */

 /*

/*================================================================*/
/*Seitenleiste generelle Struktur*/
body aside {
	text-align: left;
 	word-wrap: break-word;
}


/*Struktur der Seitenleisten-Objekte anpassen*/
body aside section,
body section.tabs-for-content {
	margin-bottom: 4px;
	padding: 2px 3px;
	border-bottom: 4px double #dadada;
	font-size: 15px;
	font-family: TeleGroteskUltra, Arial, sans-serif;
	font-weight: 150;
	text-decoration: none;
}

body aside section:last-child {
	border-bottom: 0;
}


/*================================================================*/
/*Überschriften der Blöcke*/
body aside section h2 {
	border-bottom: 1px solid #cecece;
 	padding-bottom: 3px;
 	font-family: TeleGroteskHeadlineUltra, Arial, sans-serif;
 	font-size: 15.5px;
  	padding-left: 3px;
  	margin-top: 10px !important;
}


/*================================================================*/
/*Listenelemente der Sidebar*/
body aside section ul {
	-webkit-padding-start: 0px;
 	padding: 0px;
}


body aside section ul li {
	text-align: left !important;
	padding: 2.5px;
	line-height: 20px;
}

body aside section ul li:hover {
	text-decoration: none;
  	background-color: #eeeeee;
}


body aside section ul li a {
	padding: 0 !important;
	padding-left: 1px !important;
}


/*================================================================*/
/*Tabellen-Elemente der Sidebar*/
body aside table thead th:first-child {
	width: 65%;
	font-weight: normal;
}


body aside table tbody tr:hover {
	text-decoration: none;
	background: none !important;
  	background-color: #eeeeee !important;
}

body aside table tbody tr td {
	border: none;
	line-height: 23px !important;
	padding: 0 !important;
	padding-left: 8px !important;
}


/*================================================================*/
/*Block Wissen*/
body aside section p {
	padding: 2.5px;
	line-height: 23px;
}

body aside section p:hover {
	text-decoration: none;
  	background-color: #eeeeee;
}



/*================================================================*/
/*Action Tabs*/
body aside section.tabs-for-content ul {
	-webkit-padding-start: 0px;
 	padding: 0px;
 	border-bottom: none;
}


body aside section.tabs-for-content ul li {
	text-align: left;
	padding: 2.5px;
	line-height: 20px;
	width: 96%;
}

body aside section.tabs-for-content ul li:hover {
	text-decoration: none;
  	background-color: #eeeeee;
}

body aside section.tabs-for-content ul li.active {
	text-align: left;
	padding: 2.5px;
	line-height: 20px;
	width: 96%;
	color: #e20074;
	text-decoration: none;
  	font-weight: bold;
}


body aside section.tabs-for-content ul li a {
	padding: 0 !important;
	padding-left: 1px !important;
	line-height: 20px;
	border: none !important;
	background-color: transparent !important;
}


/*================================================================*/
/*Login-Formular*/
/*Facebook-Button*/
body aside section#block-user-login form .fb_user-login-button-wrapper {
	margin-bottom: 20px;
}


/*Login-Felder, Username und Passwort*/
body aside section#block-user-login form .control-group {
	margin-left: 0px;
}


body aside section#block-user-login form .control-group label {
	font-weight: bold;
	margin-bottom: 10px;
	margin-right: 7px;
	line-height: 14px;
	font-size: 12px;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	color: #000;
}


body aside section#block-user-login form .control-group .controls input {
	width: 70%;
}


/*Anmelde-Button*/
body aside section#block-user-login form button {
	padding: 4.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	font-size: 15px;
	color: #fff;
	text-shadow: none;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-style: normal;
}


body aside section#block-user-login form button:hover {
	background: #e20074;
	text-decoration: none;
}


