/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Startseite (eingeloggt) einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */

 /*
#######################################################################
#######################################################################
 * Wichtg: Alle Angaben in dieser Datei beginnen immer mit "body.front" !!! 
 * body.front .wrapper .main-page {Anweisungen}
 */



/*
#######################################################################
#######################################################################
 * Hauptbereich der Startseite
 */

 /*Seitentitel*/
 body.front .main-page-content .content-main-content h1 {
 	font-size: 35px;
	color: #000;
	line-height: 35px;
	margin: 0 0 25px;
	margin-left: 1%;
	padding: 0;
	text-transform: uppercase;
	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
 }

 /* View für Posts*/
 #quicktabs-tabs_startseite > .quicktabs_main.quicktabs-style-basic {
background-color: #fff;
border:none;
border-top: none;
padding: 10px;
clear: both;
}
#quicktabs-tabs_startseite > ul.quicktabs-tabs.quicktabs-style-basic {
/* border-bottom: 1px solid #aaa; */
padding: 0 5px 0 0;
font: bold 12px/19px Verdana !important;
border-bottom:none;
font-weight: bold;
height: 19px;
margin: 0;
}
#quicktabs-tabs_startseite > ul.quicktabs-tabs.quicktabs-style-basic li {
/* border-bottom: 1px solid #aaa; */
top:-33px;
}
 /*Filter deklarieren*/
 body.front .main-page-content .content-main-content .view-filters .views-exposed-widgets {
 	background: grey;
 	background: #eee;
	margin:-31px;
	margin-bottom:0px;

 }

  body.front .main-page-content .content-main-content .view-filters .views-exposed-widgets label {
  	margin-left: 10px;
  }

/*Filter Content-Type*/
body.front .main-page-content .content-main-content .view-filters div.edit-type-wrapper {
	display: block;
}

body.front .main-page-content .content-main-content .view-filters .views-exposed-widgets div.views-widget-sort-order {
	float: left;
}

body.front .main-page-content .content-main-content .view-filters .views-exposed-widgets div.views-widget-sort-by {
	float: left;
}

body.front .main-page-content .content-main-content .view-filters .views-exposed-widgets div.views-widget-filter-flagged {
	float: left
}


/*Ausblenden der Auswahlfunktion für die Sortierreihenfolge ASC/DESC*/
body.front .main-page-content .content-main-content .view-filters div.views-widget-sort-order {
 	display: none;
}

body.front .main-page-content .content-main-content .view-filters .views-exposed-widgets div.views-submit-button {
  	margin-left: 30px;
  	padding: auto;
  	margin-bottom: 3px;
  	float: right;
}

body.front .main-page-content .content-main-content .view-filters .views-exposed-widgets div.views-submit-button button {
	padding: 5.5px 25px;
	background: #777;
}

body.front .main-page-content .content-main-content .view-filters .views-exposed-widgets div.views-submit-button button:hover {
	background: #e20074;
}

/*Trennung der Artikel*/
body.front .main-page-content .content-main-content .view-content .views-row {
	border-bottom: 1px solid #ccc;
	margin-left: -1%;
	margin-right: -1%;
	position:relative;
}

body.front .main-page-content .content-main-content .view-content .views-row article {
	margin: 0 1%;
}

body.front .main-page-content .content-main-content .view-content .views-row article.node-forum .field-name-taxonomy-forums {
	padding: 5px;
	border-bottom: 1px solid #eee;
	text-align: right;
}

/* Artikel / Teaser stylen - Kopf */
body.front .main-page-content .content-main-content .view-content .views-row header {
	margin-top: 5px;
}

body.front .main-page-content .content-main-content .view-content .views-row h2 a {
	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: normal;
	color: #e20074;
}

body.front .main-page-content .content-main-content .view-content .views-row span.submitted .user-picture {
	display: inline-block;
	float: left;
	margin-right: 5px;
}

body.front .main-page-content .content-main-content .view-content .views-row span.submitted .user-picture img {
	float: left;
	display: inline-block;
	margin-right: 2%;
	height:50px;
}

body.front .main-page-content .content-main-content .view-content .views-row span.submitted > span {
	word-wrap: break-word;
}

body.front .main-page-content .content-main-content .view-content .views-row span.submitted > span a {
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	color: #444;
}

/* Artikel / Teaser stylen - Inhalt */
body.front .main-page-content .content-main-content .view-content .views-row .field-name-taxonomy-forums { 
	clear: both;
	float: right;
	display: block;
	margin-top: 10px;
}

body.front .main-page-content .content-main-content .view-content .views-row .field-name-taxonomy-forums .field-label {
	display: none;
}

body.front .main-page-content .content-main-content .view-content .views-row .field-name-taxonomy-forums .field-items {
	display: inline-block;
}

body.front .main-page-content .content-main-content .view-content .views-row .field-name-taxonomy-forums {
	font-weight: normal;
	font-family: TeleGroteskHeadlineUltra, Arial, sans-serif;
	font-size: 17px;
}

body.front .main-page-content .content-main-content .view-content .views-row .field-name-body {
	clear: both;
	display: inline-block;
	width: 75%;
	float: left;
}

body.front .main-page-content .content-main-content .view-content .views-row .field-name-body .field-item {
	margin-top: 15px;
	clear: both;
}

body.front .main-page-content .content-main-content .view-content .views-row .field-name-body .field-item p {
	float: left;
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 20px;
}

body.front .main-page-content .content-main-content .view-content .views-row footer {
	display: inline-block;
	width: 23%;
	margin-top: 10px;
	float: right;
	margin-right: -20px;
	clear:both;
}

body.front .main-page-content .content-main-content .view-content .views-row footer ul  {
	padding-left: 0;
	-webkit-padding-start: 0px;
	padding: 0px;
	border-bottom: none;
	margin-left: 0px
}

body.front .main-page-content .content-main-content .view-content .views-row footer ul li {
	text-align: right;
	padding: 2.5px;
	line-height: 20px;
	width: 80%;
	border-bottom: 1px solid #eee;
	margin-left: 13px;
}

body.front .main-page-content .content-main-content .view-content .views-row footer ul li:last-child {
	border: none;
}

body.front .main-page-content .content-main-content .view-content .views-row footer ul li:hover {
	text-decoration: none;
  	background-color: #eeeeee;
}

body.front .main-page-content .content-main-content .view-content .views-row footer ul li span {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

body.front .main-page-content .content-main-content .view-content .views-row footer ul li a {
	padding: 0;
	padding-left: 1px;
	line-height: 20px;
	border: none;
	background-color: transparent
}
/* Beantwortet-Fähnchen */
body.front .main-page-content .content-main-content .view-content .views-row #beantwortet {
	padding: 10px;
	font-size:1rem;
	position:absolute;
	bottom:10px;
	border: none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:80px;
	color:white;
	text-align:center;
	background-color: green;
}
body.front .main-page-content .content-main-content .view-content .views-row #aufgenommen {
	padding: 10px;
	font-size:1rem;
	position:absolute;
	bottom:10px;
	left:110px;
	border: none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:120px;
	color:white;
	text-align:center;
	background-color: #e20074;
}

/* Pager stylen */
body.front .main-page-content .content-main-content ul.pager li.pager-current {
	font-family: TeleGroteskNormal;
	font-size: 15px;
	line-height: 20px;
}

body.front .main-page-content .content-main-content ul.pager li.pager-next a {
	margin-top: -5px;
	margin-left: 10px;
	padding: 5px 20px;
}

body.front .main-page-content .content-main-content ul.pager li.pager-previous a {
	margin-top: -5px;
	margin-right: 10px;
	padding: 5px 20px;
}
