/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Startseite (eingeloggt) einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */

 /*
#######################################################################
#######################################################################
 * Wichtg: Alle Angaben in dieser Datei beginnen immer mit "body.front" !!! 
 * body.front .wrapper .main-page {Anweisungen}
 */



/*
#######################################################################
#######################################################################
 * Hauptbereich der Startseite
 * Styling Newest / Updated Forum Posts
 */


body.front .wrapper .main-page .main-page-content .content-main-content section.block-views {
	margin-bottom: 35px;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views h2 {
	font-size: 35px;
 	color: #000;
 	line-height: 35px;
 	margin: 0 0 25px;
 	padding: 0;
 	text-transform: uppercase;
 	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
}

/*
 * Anordnung der Posts und generelles Styling festlegen
 */
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr {
	margin-bottom: 0;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td {
	width: 33.33333333%;
	padding: 10px;
}

/*
 * 
 */

 body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr:nth-child(odd) td:first-child{
	background: #c7c7c7;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr:nth-child(odd) td:nth-child(2){
	background: #dadada;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr:nth-child(odd) td:last-child{
	background: #ededed;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr:nth-child(even) td:first-child{
	background: #ededed;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr:nth-child(even) td:nth-child(2){
	background: #bcbcbc;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr:nth-child(even) td:last-child{
	background: #fafafa;
}

/*
 * Styling innerhalb eines Blocks (allgemein)
 */

/*Forum zu dem es gehört*/
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-taxonomy-forums a {
 	color: #e20074;
	font-family: TeleGroteskHeadlineUltra, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 0;
	width: 100%;
	text-align: right;
}

/*Titel*/
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-title span {
	display: block;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-title a {
	display: block;
 	margin-left: 0;
	width: 100%;
	color: #000;
	font-size: 22px;
	line-height: 22px;
	margin: 0 0 18px;
	padding: 0;
	text-transform: uppercase;
	font-family: TeleGroteskHeadlineUltra, Helvetica, Arial, sans-serif;
	text-align: right;
}

/*Text/Teaser*/
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-body {
	height: 65px;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-body p {
  	width: 100%;
  	margin: 0;
  	text-align: right;
  	font-family: TeleGrotskNormal, Helvetica, Arial, sans-serif;
  	font-size: 15px;
  	line-height: 16px;
  	color: #000;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-body p:last-child {
	margin: 0 0 10.5px;
}


@media all and (max-width: 860px){

	body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-body {
		height: 115px;
	}

}

@media all and (min-width: 861px) and (max-width: 1140px){

	body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-body {
		height: 80px;
	}

}

/*Mehr erfahren*/
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-view-node {
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	margin-bottom: 12px;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-view-node a {
	color: #000;
	text-decoration: none !important;
	font-family: TeleGroteskHeadlineUltra, Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	display: block;
	margin: 15.5px 0 0 0;
	background: transparent;
	text-align: right;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-view-node a:hover {
	color: #e20074;	
}

/*Kategoriebild*/
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-field-icon,
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-picture {
	display: inline-block;
	float: left;
	padding: 5px 10px;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-field-icon {
	padding-left: 20px;
}


/*Kontextdaten, rechts vom Bild*/

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views  table tbody tr td div.views-field.views-field-name {
	display: block;
	float: right;
	clear: right ;
}
 
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-created {
	display: block;
	float: right;
	clear: right;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-last-updated {
	display: block;
	float: right;
	clear: right;
	margin-bottom: 25px;
}

/*Linkbuttons*/
body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-comments-link {
	clear: right;
	display: block;
	float: right;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-comments-link li {
	display: block;
	padding: 0px;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-comments-link li a {
	color: #000;
	text-decoration: none !important;
	font-family: TeleGroteskHeadlineUltra, Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	display: block;
	margin: 15.5px 0 0 0;
	background: transparent;
	text-align: right;
}

body.front .wrapper .main-page .main-page-content .content-main-content section.block-views table tbody tr td  div.views-field-comments-link li a:hover {
	color: #e20074;	
}


/*
#######################################################################
 * Styling Neueste Wissensspeicherbeiträge
 */

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-wissen-content-block table tbody tr td div.views-field-field-kategorie a {
 	color: #e20074;
	font-family: TeleGroteskHeadlineUltra, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 0;
	width: 100%;
	text-align: right;
 }

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-wissen-content-block table tbody tr td div.views-field-body {
	height:120px;
}

@media all and (max-width: 860px){

	body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-wissen-content-block table tbody tr td div.views-field-body {
		height:260px;
	}

}

@media all and (min-width: 861px) and (max-width: 1140px){

	body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-wissen-content-block table tbody tr td div.views-field-body {
		height:180px;
	}

}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-wissen-content-block table tbody tr td div.views-field-timestamp {
	clear: right;
	float: right;
}


/*
#######################################################################
 * Styling Neueste Userblogs
 */

 body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td {
 	background: #c7c7c7;
 }

 /*Userbild*/
body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td  div.views-field-picture {
	display: inline-block;
	float: right;
	padding: 5px 10px;
}

/*Content-Titel*/
body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(odd) td div.views-field-title {
	float: right;
	display: block;
	word-wrap: break-word;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td div.views-field-title {
	float: left;
	display: block;
	word-wrap: break-word;
}

/*Content*/
body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(odd) td div.views-field-body {
	clear: right;
	margin-left: 240px;
	height: auto;
} 

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td div.views-field-body {
	clear: left;
	margin-right: 240px;
	height: auto;
} 


body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td div.views-field-body p {
	text-align: left;
} 

/*Kontextdaten*/
body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td div.views-field-name {
	float: left;
	clear: left;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td div.views-field-created {
	float: left;
	clear: left;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td div.views-field-last-updated {
	float: left;
	clear: left;
}

/*Mehr Erfahren Link*/
body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(odd) td div.views-field-view-node {
	margin-left: 250px;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td div.views-field-view-node {
	margin-right: 250px;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-recent-userblog-content-block table tbody tr:nth-child(even) td div.views-field-view-node a {
	text-align: left;
}


/*
#######################################################################
 * Styling Neueste Unternehmensblogeinträge
 */

 body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr:nth-child(odd) td {
 	background: #c7c7c7 !important;
 }

/*Content-Titel*/

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr:nth-child(odd) td div.views-field-title {
	float: left;
	display: block;
	word-wrap: break-word;
}

/*Content*/

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr td div.views-field-body {
	height: auto;
	clear: left;
} 


body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr:nth-child(odd) td div.views-field-body p {
	text-align: left;
} 

/*Mehr erfahren Link*/
body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr:nth-child(odd) td div.views-field-view-node {
	float: left;
	display: block;
	clear: left;
	width: 100%;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr:nth-child(odd) td div.views-field-view-node a {
	text-align: left;
}

/*Kontextdaten*/
body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr:nth-child(odd) td div.views-field-name {
	float: left;
	clear: left;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr:nth-child(odd) td div.views-field-created {
	float: left;
	clear: left;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr:nth-child(odd) td div.views-field-last-updated {
	float: left;
	clear: left;
}

body.front .wrapper .main-page .main-page-content .content-main-content section#block-views-4b06e8d87a5fa7670dd006b2e9422924 table tbody tr td div.views-field-last-updated {
	margin: 0;
}


/*
#######################################################################
 * Ausblenden der main-page-content Inhalte
 */
body.front .wrapper .main-page .main-page-content .content-main-content > article.node {
	display: none;
}


 /*
#######################################################################
#######################################################################
 * Untere Content Region
 * Zeigt Forenübersicht
 */


body.front .wrapper .main-page .main-page-content .content-bottom {
 	padding: 30px;
 	padding-top: 15px;
 	padding-bottom: 0;
 	position: relative;
 }

body.front .wrapper .main-page .main-page-content .content-bottom .region-content-bottom-region section.block h2 {
 	font-size: 35px;
 	color: #000;
 	line-height: 35px;
 	margin: 0 0 25px;
 	padding: 0;
 	text-transform: uppercase;
 	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
 }

body.front .wrapper .main-page .main-page-content .content-bottom .region-content-bottom-region section.block div.view-kat div.view-content table tbody tr td {
  	width: 25%;
  	margin: 0px;
  	padding: 0px;
  	border: none;
 }

body.front .wrapper .main-page .main-page-content .content-bottom .region-content-bottom-region section.block div.view-kat div.view-content table tbody tr td:nth-child(odd) {
 	background: #454545;
 }

 body.front .wrapper .main-page .main-page-content .content-bottom .region-content-bottom-region section.block div.view-kat div.view-content table tbody tr td:nth-child(even) {
	background: #a2a2a2;
 }

body.front .wrapper .main-page .main-page-content .content-bottom .region-content-bottom-region section.block div.view-kat div.view-content table tbody tr td div.views-field{
  	padding-bottom: 10px;
 }

body.front .wrapper .main-page .main-page-content .content-bottom .region-content-bottom-region section.block div.view-kat div.view-content table tbody tr td div.views-field-field-icon div.field-content img {
 	width: 100%;
 	height: auto;
 }

body.front .wrapper .main-page .main-page-content .content-bottom .region-content-bottom-region section.block div.view-kat div.view-content table tbody tr td div.views-field-name span.field-content {
	height: 100px;
	padding:10px;
}

body.front .wrapper .main-page .main-page-content .content-bottom .region-content-bottom-region section.block div.view-kat div.view-content table tbody tr td div.views-field-name span.field-content a {
	color: #e20074;
	text-align: center;
	font-size: 18px;
	margin: 0 0 10px;
	text-transform: uppercase;
	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
	line-height: 20px;
	font-weight: 500;
}

