/*Suchseite stylen*/

/*Formular im oberen Bereich anpassen*/
body.page-search .main-page .main-page-content .content-main-content {
	font-size: 35px;
	line-height: 35px;
	color: #000;
	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

body.page-search .main-page .main-page-content form {
	width: 100%;
	margin-top: 14px;
	margin-bottom: 7px;
}

body.page-search .main-page .main-page-content form input {
	height: 30px !important;
	margin-top: -5px;
}

/*Advanced Search Styles*/ 
body.page-search .main-page .main-page-content form fieldset {
	margin-top: 20px;
	padding-bottom: 10px;
}

body.page-search .main-page .main-page-content form fieldset .fieldset-wrapper button:hover {
	background-color: #e20074;
	color: #fff;
}


/*Überschrift Ergebnisse*/
body.page-search .main-page .main-page-content h2 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 25px;
	font-family: TeleGroteskUltra, Arial, sans-serif;
	color: #666;
}


/*Ergebnisse - no results*/
body.page-search .main-page .main-page-content ul {
	font-family: TeleGroteskNormal;
	line-height: 19px;
	font-size: 17px;
	margin-left: 0px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-left: 0;
}

body.page-search .main-page .main-page-content ul li {
	margin-bottom: 10px;
}

/*Ergebnisse - results, Content*/
body.page-search .main-page .main-page-content ol {
	font-family: TeleGroteskNormal;
	line-height: 19px;
	font-size: 17px;
	margin-left: 5px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-left: 0;
	list-style-type: none;

}

body.page-search .main-page .main-page-content ol li {
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
}

body.page-search .main-page .main-page-content ol li:last-child {
	border-bottom: none;
}

body.page-search .main-page .main-page-content ol li h3 {
	margin: 0;
	margin-left: 0px;
	margin-right: 25px;
}

body.page-search .main-page .main-page-content ol li h3 a {
	color: #e20074;
}

body.page-search .main-page .main-page-content ol li div.search-snippet-info {
	margin-top: 10px;
	margin-left: 3px;
	margin-right: 25px;
}

body.page-search .main-page .main-page-content ol li div.search-snippet-info p.search-snippet {
	margin-top: 20px;
	margin-bottom: 25px;
	text-transform: none;
}

/*Ergebnisse - results, Users*/
body.page-search .main-page .main-page-content ol.user-results {
	margin-left: 0px;
	list-style-type: none;
}

body.page-search .main-page .main-page-content ol.user-results li {
	padding-bottom: 0;
	border-bottom: none;
	padding-top: 0;
	width: 100%;
}

body.page-search .main-page .main-page-content ol.user-results li:hover {
	text-decoration: none;
  	background-color: #eeeeee;
}

body.page-search .main-page .main-page-content ol.user-results li h3 {
	margin: 0px;
}

body.page-search .main-page .main-page-content ol.user-results li a {
	color: #000;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	font-weight: normal;
	padding: 5px;
	text-transform: none;
}

body.page-search .main-page .main-page-content ol.user-results li a:hover {
	text-decoration: none;
  	background-color: #eeeeee;
  	color: #e20074;
}


/*Ergebnisse - results, Users*/ 
