/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Startseite (eingeloggt) einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */

/*================================================================*/
/*Name des Themenbereichs*/
body.not-front .content-main-content #pagename{
 	font-size: 35px;
	color: #000;
	line-height: 35px;
	margin: 0 0 25px;
	margin-left: 1%;
	padding: 0;
	text-transform: uppercase;
	font-family: TeleGroteskHeadlineRegular, Arial, sans-serif;
 }




/*Rahmen für Auflistung anlegen*/
body.not-front .content-main-content .view {
	border: 2px solid #eee;
	border-radius: 10px;
	padding: 2%;
	padding-top: 0px;
	margin-top: 20px;
}


body.not-front .content-main-content .view .views-row {
	border-bottom: 1px solid #ccc;
	margin-left: -2%;
	margin-right: -2%;
	position: relative;
}


body.not-front .content-main-content .view .views-row:last-child {
	border-bottom: 0px;
	margin-top: 10px;
}


body.not-front .content-main-content .view article {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10px;
}



/*================================================================*/
/*Struktur und Gestaltung des Artikelkopfs, Kontextdaten des Artikels*/
body.not-front .content-main-content .view article header {
	/* margin-top: 5px; */
}


body.not-front .content-main-content .view article header h2 a {
	text-align: left;
	display: block;
	font-size: 20px;
	font-weight: normal;
	color: #e20074;
	margin-bottom: 26px;
}



/*================================================================*/
/*User-Picture, Avatar, Userbild*/
body.not-front .content-main-content .view article header .user-picture {
	display: inline-block;
	float: left;
	margin-right: 5px;
}



/*================================================================*/
/*Submitted Daten, Gespeichert von*/
body.not-front .content-main-content .view article header > span.submitted > span {
	word-wrap: break-word;
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	text-transform: none;
}


body.not-front .content-main-content .view article header > span.submitted > span a {
	font-size: 15px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	color: #444;
}



/*================================================================*/
/*Current State, Aktueller Status*/
body.not-front .content-main-content .view article .workflow-current-state {
	color: #000;
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	text-transform: none;
}


body.not-front .content-main-content .view article .workflow-current-state label {
	font-family: TeleGroteskNormal, Arial, sans-serif;
	text-transform: none;
}

body.not-front .main-page-content .content-main-content .view-content .views-row .field-name-taxonomy-forums {
font-weight: normal;
font-family: TeleGroteskHeadlineUltra, Arial, sans-serif;
font-size: 17px;
clear: both;
float: right;
display: block;
margin-top: 10px;
text-align:right;
}
/*================================================================*/
/*Like, Not Like, +1, -1*/
body.not-front .content-main-content .view article .flag-outer a {
	color: #000;
	font-size: 14px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	text-transform: none;
	font-style: italic;
}



/*================================================================*/
/*Wissenspeicher promoted*/
body.not-front .content-main-content .view article .flag-outer span {
	color: #000;
	font-size: 14px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	text-transform: none;
	font-style: italic;
}


/*================================================================*/
/*Hauptbereich des Artikels, Inhalt, Content, Teaser*/
body.not-front .content-main-content .view article .field {
	clear: both;
	display: inline-block;
	width: 75%;
	float: left;
}


body.not-front .content-main-content .view article .field .field-item {
	margin-top: 15px;
	clear: both;
}


body.not-front .content-main-content .view article .field .field-item p {
	float: left;
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 20px;
	text-transform: none;
}


/*================================================================*/
/*Formular zur Aufnahme in den Wissenspeicher*/
body.not-front .content-main-content .view article form {
	clear: left;
	display: inline-block;
	width: 75%;
	margin-top: 20px;
}


/*================================================================*/
/*Zuordnung zu Thema, Label, Bei Fragen mit angegeben*/
body.not-front .content-main-content .view article .field-type-taxonomy-term-reference {
	margin-top: 10px;
	clear: left;
	display: inline-block;
	float: left; 
	width: 75%;
}


body.not-front .content-main-content .view article .field-type-taxonomy-term-reference .field-label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 7px;
	line-height: 14px;
	font-size: 14px;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
}

body.not-front .content-main-content .view article .field-type-taxonomy-term-reference .field-items {
	display: inline-block;
	font-style: italic;
	line-height: 14px;
}


body.not-front .content-main-content .view article .field-type-taxonomy-term-reference .field-items .field-item {
	margin-top: 0;
}


body.not-front .content-main-content .view article .field-type-taxonomy-term-reference .field-items .field-item a {
	font-size: 14px;
}


/*================================================================*/
/*Aktionslinks, Footer, Menü zum Artikel*/
body.not-front .content-main-content .view article footer {
	display: inline-block;
	width: 23%;
	margin-top: 10px;
	float: right;
	margin-right: -20px;
	clear:both;
}


body.not-front .content-main-content .view article footer ul {
	padding-left: 0;
	-webkit-padding-start: 0px;
	padding: 0px;
	border-bottom: none;
	margin-left: 0px;
	clear:both;
}


body.not-front .content-main-content .view article footer ul li {
	text-align: right;
	padding: 2.5px;
	line-height: 20px;
	width: 80%;
	border-bottom: 1px solid #eee;
	margin-left: 13px;
}


body.not-front .content-main-content .view article footer ul li:hover {
	background: #eee;
	text-decoration: none;
} 


body.not-front .content-main-content .view article footer ul li a,
body.not-front .content-main-content .view article footer ul li span {
	padding: 0;
	padding-left: 1px;
	line-height: 20px;
	border: none;
	background-color: transparent;
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	text-transform: none;
	clear:both;
}


body.not-front .content-main-content .view article footer ul li span:hover {
	color: #e20074;
	text-decoration: none;
}

