/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für das Userprofil einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */


/*================================================================*/
/*Nutzername: Vorname, Nachname, Geb., Firma, Fähigkeiten, Über mich*/
body.not-front.page-user .content-main-content .field-name-ds-user-picture {
	margin: 1% 2%;
}


/*================================================================*/
/*Nutzername: Vorname, Nachname, Geb., Firma, Fähigkeiten, Über mich*/
body.not-front.page-user .content-main-content .field {
	padding-left: 1.5%;
	padding-right: 1.5%;
}


body.not-front.page-user .content-main-content .field .field-label {
	display: inline-block !important;
	margin-bottom: 0px !important;
	line-height: 24px;
	font-weight: bold;
	margin-right: 7px;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	text-align: left;
	font-size: 14px;
}


body.not-front.page-user .content-main-content .field .field-item {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #666;
	line-height: 24px;
	text-align: left;
	display: inline;
	font-weight: lighter;
}


/*================================================================*/
/*Fähigkeiten Auflistung*/
body.not-front.page-user .content-main-content .field-name-field-faehigkeiten .field-item {
	display: block;
}


/*================================================================*/
/*Über mich extra von anderen persönlchen Daten*/
body.not-front.page-user .content-main-content .field-name-field-beschreibung {
	border: 2px solid #eee;
	border-radius: 10px;
	padding: 2% 1.5%;
	margin-top: 20px;
}

body.not-front.page-user .content-main-content .field-name-field-beschreibung .field-label {
	margin-bottom: 10px !important;
}

body.not-front.page-user .content-main-content .field-name-field-beschreibung .field-item p {
	font-style: italic;
}



/*================================================================*/
/*Linke Gruppe soll nach Rechts Abstand haben*/
body.not-front.page-user .content-main-content .group-left .view {
	margin-right: 8%;
}


/*================================================================*/
/*Nutzer folgen, nicht mehr folgen Button*/
body.not-front.page-user .content-main-content .view-nutzer-folgen {
	margin-right: 8%;
	border: 0px;
	margin-top: 0px;
}


/*================================================================*/
/*Nutzer Status Informationen*/
body.not-front.page-user .content-main-content section h2 {
	text-align: left;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 30px;
	font-weight: lighter;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}


body.not-front.page-user .content-main-content section .view {
	border: 0px;
	margin-left: 5px;
	margin-right: 5px;
}


body.not-front.page-user .content-main-content section .view .views-label {
	line-height: 24px;
	font-weight: bold;
	margin-right: 7px;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	text-align: left;
	font-size: 14px;
	display: block;
	margin-bottom: 5px !important;
	margin-top: 5px;
} 


/*================================================================*/
/*Nutzer Rang*/
body.not-front.page-user .content-main-content .field-name-user-rang .views-label-goal-img {
	display: inline-block !important;
}


body.not-front.page-user .content-main-content .field-name-user-rang .field-content {
	display: inline-block !important;
	margin-left: 15px;
	margin-top: 5px !important;
}


/*================================================================*/
/*Erhaltene Badges des Nutzers dessen Profil gerade geöffnet ist*/
body.not-front.page-user .content-main-content .field-name-badges section h2 {
	padding-top: 20px;
	margin-bottom: 15px;
}


body.not-front.page-user .content-main-content .field-name-badges section .view {
	margin-top: 0px !important;
}


body.not-front.page-user .content-main-content .field-name-badges section .view-empty p {
	font-style: italic;
	margin-left: -5px;
}


/*================================================================*/
/*Anzeige wem der Nutzer folgt*/
body.not-front.page-user .content-main-content .field-name-follows section h2 {
	padding-top: 20px;
	margin-bottom: 15px;
}


body.not-front.page-user .content-main-content .field-name-follows section .view {
	margin-top: 0px !important;
	margin-left: 0px;
}


body.not-front.page-user .content-main-content .field-name-follows section ul {
	-webkit-padding-start: 0px;
 	padding: 0px;
}


body.not-front.page-user .content-main-content .field-name-follows section ul li {
	text-align: left !important;
	padding: 2.5px;
	line-height: 24px;
}


body.not-front.page-user .content-main-content .field-name-follows section ul li:hover {
	text-decoration: none;
  	background-color: #eeeeee;
}


body.not-front.page-user .content-main-content .field-name-follows section ul li a {
	padding: 0 !important;
	padding-left: 1px !important;
}

/*Pager*/
body.not-front.page-user .pager-next a,
body.not-front.page-user .pager-previous a{
	width: 45px;
	text-align: center;
	height: 22px;
}

body.not-front.page-user .field-name-useraktivit-t .pager-current {
	margin: auto 5px;
	line-height: 35px;
}


/*================================================================*/
/*Letzte Aktivitäten des Nutzers*/
body.not-front.page-user .content-main-content .field-name-useraktivit-t {
	padding-left: 0;
	padding-right: 0;
}


body.not-front.page-user .content-main-content .field-name-useraktivit-t h2 {
	text-align: left;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 30px;
	font-weight: lighter;
	color: #444;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	padding-right: 5px;
	padding-top: 20px;
	margin-bottom: 15px;
}


body.not-front.page-user .content-main-content .field-name-useraktivit-t td .user-picture {
	display: inline-block;
	float: left;
	clear: both;	
}
body.not-front.page-user .content-main-content .field-name-useraktivit-t td .user-picture img {
	height:50px;
}


body.not-front.page-user .content-main-content .field-name-useraktivit-t td p,
body.not-front.page-user .content-main-content .field-name-useraktivit-t td .views-field-timestamp {
	display: inline-block;
	float: left;
	width: 75%;
	clear: none;
	margin-left: 10px;
	word-wrap: break-word;
	color: #777;
	font-size: 13px !important;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	padding: 2px;
	word-break: break-word;
	font-style: italic;
	margin-bottom: 2px
}

body.not-front.page-user .content-main-content .field-name-useraktivit-t td p a {
	font-size: 15px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 14.6px;
	color: #444;
}


/*================================================================*/
/*Aktivitäten von Nutzern denen gefolgt wird*/
body.not-front.page-user .content-main-content .field-name-follow-activity {
	margin-top: 15px;
	padding: 0;
}



body.not-front.page-user .content-main-content .field-name-follow-activity .view {
	border: 2px solid #eee;
	border-radius: 10px;
	margin: 0;
}


body.not-front.page-user .content-main-content .field-name-follow-activity td .user-picture {
	display: inline-block;
	float: left;
	clear: both;
}


body.not-front.page-user .content-main-content .field-name-follow-activity td p,
body.not-front.page-user .content-main-content .field-name-follow-activity td .views-field-timestamp {
	display: inline-block;
	float: left;
	width: 75%;
	clear: none;
	margin-left: 10px;
	word-wrap: break-word;
	color: #777;
	font-size: 13px !important;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	padding: 2px;
	word-break: break-word;
	font-style: italic;
	margin-bottom: 2px
}

body.not-front.page-user .content-main-content .field-name-follow-activity td p a {
	font-size: 15px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 14.6px;
	color: #444;
}
/* Dashboard */
.homebox-portlet-inner .view .cols-2 .views-field-title {
	width:514px;
}