/*!
 * Bootstrap v2.3.2
 *
 * Adapted through drupal-project-team
 * Hier nur Styles für die Logoutseite einbinden
 * Allgemeine Styles (die für mehrere Unterseiten gelten) sollten in 
 * general.css einbinden
 *
 * Bitte Kommentieren und Strukturell darstellen bspw. mit Rauten abgrenzen.
 */

 /*
#######################################################################
#######################################################################
 * Wichtg: Alle Angaben in dieser Datei beginnen immer mit "body.not-front.node-type-forum" !!! 
 * Bei Unterseiten auch aus body einen unique class-name raussuchen für den type
 * body.not-front.page-forum .wrapper .main-page {Anweisungen}
 */

 /*
#######################################################################
#######################################################################
 * Forum-Topic
 */

/*Überschrift des Forums*/
body.not-front.node-type-forum .content-main-content {
	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: lighter;
	color: #e20074;
	font-family: TeleGroteskHeadline, Arial, sans-serif;
	line-height: 20px;
}

/*Hintergrund der Links*/
body.not-front.node-type-forum .content-main-content .forum-topic-header {
	background: #eee;
	padding: 15px;
	margin-bottom: 38px;
	margin-top: 20px;
}

/*Anzahl Posts und Neue Kommentare*/
body.not-front.node-type-forum .content-main-content .topic-post-count {
	color: #000;
	font-family: TeleGroteskNormal, Arial, sans;
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
}


/*Schnell Antwort - Button*/
body.not-front.node-type-forum .content-main-content .topic-reply-link {
	margin-bottom: 3px;
	float: left;
	margin-left: 0;
}

body.not-front.node-type-forum .content-main-content .topic-reply-link .topic-reply-allowed {
	padding: 5.5px 25px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
}

body.not-front.node-type-forum .content-main-content .topic-reply-link .topic-reply-allowed:hover {
	background: #e20074;
}

body.not-front.node-type-forum .content-main-content .topic-reply-link .topic-reply-allowed span {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

/*Last Post - Button: Springt zum letzten Kommentar des Artikels, sinnvoll vor allem bei sehr ausgedehnten Topics*/
body.not-front.node-type-forum .content-main-content .last-post-link {
	margin-bottom: 3px;
	float: left;
	margin-left: 10px;
	margin-top: 6.4px;
}

body.not-front.node-type-forum .content-main-content .last-post-link > a {
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
}

body.not-front.node-type-forum .content-main-content .last-post-link > a:hover {
	background: #e20074;
} 

body.not-front.node-type-forum .content-main-content .last-post-link > a span {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}


/*
######################################################################################
*/

/*Kontextdaten zum Artikel*/
body.not-front.node-type-forum .forum-post-info {
	font-style: italic;
	font-weight: normal;
	color: #777;
	word-wrap: break-word;
	font-size: 13px !important;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	padding: 2px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

body.not-front.node-type-forum .forum-post-info .forum-post-number a {
	font-style: italic;
	font-weight: normal;
	color: #777;
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
}

body.not-front.node-type-forum .forum-post-wrapper {
	clear: both;
	display: inline-block;
	width: 75%;
	float: left;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-sub {
	width: 100%;
	margin-bottom: 5px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-sub .author-pane {
	display: inline-block;
	width: 100%;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-sub .author-pane a {
	font-size: 16px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 18.6px;
	color: #444;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-sub .author-pane .user-picture {
	float: left;
	display: inline-block;
	margin-right: 5px;
}

/*Kontextdaten trennen von Inhalt*/
body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main {
	clear: both;
	margin-left: 0px;
}

/*Artikel stylen*/
body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-title {
	text-align: left;
	display: inline;
	font-size: 20px;
	font-weight: normal;
	color: #e20074;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content {
	margin-top: 15px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > div {
	font-size: 15px;
	font-family: TeleGrotskNormal, Arial, sans-serif;
	line-height: 15px;
	color: #000;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form {
	margin: 0px;
	margin-top: 15px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form legend {
	margin-bottom: 0px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form legend a {
	padding: 8.8px 32px;
	background: #777;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #cccccc;
	vertical-align: baseline;
	color: #fff;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .forum-post-content > form legend a:hover {
	background: #e20074;
	text-decoration: none;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .post-edited {
	font-style: italic;
	font-weight: normal;
	color: #777;
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
}

body.not-front.node-type-forum .forum-post-wrapper .forum-post-panel-main .post-edited a {
	font-size: 13px;
	font-family: TeleGroteskNormal, Arial, sans-serif;
	line-height: 15.6px;
	color: #444;
}

/*Footer eines Artikels*/
body.not-front.node-type-forum .forum-post-footer {
	display: inline-block;
	width: 23%;
	margin-top: 10px;
	float: right;
	margin-right: -20px;
	clear: none;
}

/*Sprungmarke, um an bestimmte Stellen zu navigieren*/
body.not-front.node-type-forum .forum-post-footer .forum-jump-links {
	text-align: right;
	width: 80%;
	margin-left: 13px;
	display: inline-block;
	margin-top: 9px;
	margin-bottom: 0px;
}

body.not-front.node-type-forum .forum-post-footer .forum-jump-links a {
	font-weight: normal;
	font-family: TeleGroteskHeadlineUltra, Arial, sans-serif;
	font-size: 17px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

body.not-front.node-type-forum .forum-post-footer .forum-jump-links a:hover {
	color: #e20074;
	text-decoration: none;
}

/*Forum Post Links zum bearbeiten, löschen und liken von Artikeln*/
body.not-front.node-type-forum .forum-post-footer .forum-post-links ul {
	padding-left: 0;
	-webkit-padding-start: 0px;
	padding: 0px;
	border-bottom: none;
	margin-left: 0px;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li {
	text-align: right;
	padding: 2.5px;
	line-height: 20px;
	width: 80%;
	border-bottom: 1px solid #eee;
	margin-left: 13px;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

/*Ausblenden, da leer*/
body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li.socialmedia_profile-default, body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li.socialmedia_share-default {
	border: 0px;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li:last-child {
	border: none;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li a {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li a:hover {
	text-decoration: none;
	color: #e20074;
}

body.not-front.node-type-forum .forum-post-footer .forum-post-links ul li span {
	font-size: 15px;
	font-family: TeleGrotskUltra, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

/*Forum Kommentare*/ 
body.not-front.node-type-forum .comment-wrapper {
	padding: 20px 24px;
	border: 2px solid #eee;
	border-radius: 7px;
	margin-top: 30px;
}

body.not-front.node-type-forum .comment-wrapper .forum-post {
	margin-bottom: 40px;
}

body.not-front.node-type-forum .comment-wrapper .forum-post:last-child {
	padding-bottom: 17px;
}

body.not-front.node-type-forum .comment-wrapper h2 {
	border-top: 1px solid #eee;
	padding-top: 20px;
}